#login-modal-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 13pt;
    width: 25vw;
    border: var(--text) 2px solid;
    background-color: var(--background);
}

#login-form-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;
}

.input-field{
    border: var(--text) 1px solid;
    border-radius: 8px;
    margin-bottom:8px;
    padding: 3px;
}

#demo-user-buttons{
    font-size: 12pt;
    margin: .15rem 0
}

#demo-button-wrapper{
    display: flex;
    align-items: center;
}

#demo-button-wrapper>button {
    margin: .5rem .5rem;
    background-color: var(--nice-green);
    border-radius: 8px;
    color: var(--background);
    padding: .5rem;
}

#demo-button-wrapper>button:hover {
    /* color: var(--text); */
    background-color: var(--med-green);
    cursor: pointer;
}

#demo-button-wrapper>#disabled {
    background-color: gray;
    /* color: red ; */
}
