#posts-whole-wrapper{
    width: 85vw
}


#upper-section {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#buttons-wrappers {
    display: flex;
    /* flex-direction: column; */
    /* font-size: 12pt; */
    /* padding: .25rem .75rem; */
    border-radius: 3pt;
    /* border: var(--text) solid 2px; */
    /* background-color: var(--nice-green); */
    color: var(--background);
}

#green-button-wrapper> button {
    font-size: 12pt;
    padding: .25rem .75rem;
    margin-left: .5rem;
    background-color: var(--nice-green);
    color: var(--background);
    border-radius: 3pt;
    border: var(--text) solid 1px;
}

#green-button-wrapper>button:hover{
    /* color: var(--text); */
    background-color: var(--med-green);
    cursor: pointer;
}

#buttons-wrappers>button {
    font-size: 12pt;
    padding: .25rem .75rem;
    margin-left: .5rem;
    background-color: var(--delete);
    color: var(--background);
    border-radius: 3pt;
    border: var(--text) solid 1px;
}
#buttons-wrappers>button:hover{
    color: var(--background);
    background-color: var(--redder);
    cursor: pointer;
}


#post-title {
    font-size: 18pt;
    color: var(--nice-green);
}


#post-body {
    padding: 1rem 0;
}

#post-info {
    text-align: end;
}

#comments-wrapper {
    border-top: var(--lt-green) solid 1px;
}

#single-comment-wrapper{
    padding-bottom: 0.75rem;
    border-bottom: var(--lt-green) solid 1px;
}
